.gubbins-form-wrapper {
  & form {
    display: flex;
    flex-direction: column;
  }
  & label {
    width: 20%;
  }
  & input {
    &[type="text"],
    &[type="number"] {
      width: 60%;
    }
  }
}
.gubbins-form-submit-wrapper {
  align-self: flex-end;
}
.gubbins-form-fieldset {
  display: flex;
  flex-direction: row;
  border: none;
  justify-content: space-between;
  margin: 10px 0;
}
.gub-url-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  & input {
    width: 60%;
    font-size: 14px;
    border: 1px solid #ddd;
  }
  & button {
    position: absolute;
    right: 0;
  }
}
.copied {
  position: relative;
  transition: opacity 0.5s easein, transform 0.5s easein;
  &:after {
    content: "copied!";
    position: absolute;
  }
}
